.ime{
    padding-left:500px;
}
.rr1{
    border:5px dotted white;
    padding-left:100px;
}
.rr2{
    border:5px dotted white;
    padding-left:100px;
}
.re {
    border:5px dotted white;
    padding-left:100px;
}
.sem{
    padding-left:550px;
}